/* Instruction.css */
.instruction-container {
    background-color: #6CACBF;
    width: 300px; 
    border-radius: 25px;
    height: 400px;
    padding: 10px 20px;
    margin: 50px auto;
    position: relative;
    text-align: center;
    flex-direction: column;
    
}

.instruction-container h1 {
    font-size: 22px; /* Slightly reduced font size for better readability on smaller screens */
    margin-bottom: 15px; /* Reduced margin for a more compact layout */
    color: #fff;
}

.instruction-container p {
    font-size: 18px; /* Reduced font size for better readability on smaller screens */
    margin-bottom: 15px; /* Reduced margin for a more compact layout */
    color: #000;
}

.instruction-container .button-container {
    display: flex;
    justify-content: center; /* Center align buttons */
    margin-top: auto;
}

.instruction-container button {
        margin: 0 auto;
        display: block;
        width: 75px;
        padding: 10px 15px;
        font-size: 10px;
        line-height: normal;
        background-color: #2F4046;
        color: #ffff;
        border: none;
        border-radius: 30px;
        cursor: pointer;
      }


