/* TestPage.css */

.custom-card {
    background-color: #6cacbf;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Ensures the buttons are spaced evenly */
}

.custom-card {
    position: relative;
}

.skill {
    position: absolute;
    top: 10px;
    /* Adjust as needed */
    right: 10px;
    /* Adjust as needed */
}

.goals {
    margin-top: 20px; 
    text-align: center;/* Adjust margin-top to move the goals down */
}
.instruction {
    font-size: 15px;
    text-align: center;
    /* Center the text */
    margin-bottom: 15px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* Center the content vertically */
}

.white-container {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    /* Full width */
    height: 150px;
    /* Specify height */
    box-sizing: border-box;
    /* Include padding and border in width/height calculation */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* Align content to the top */
    align-items: center;
    /* Center content horizontally */
}

.audio-symbol {
    font-size: 24px;
    margin-top: 2px;
    /* Add margin to position the audio symbol at the top */
}

.button-line {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}